*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  }
  body{
      width: 100%;
      /* position: relative; */
    }

  .logo{
  /* width: 20px; */

  /* position: absolute;
  padding-left:  0; */

  }

  .container{
    width: 80%;
    margin: 0 auto;
    }
    nav{
      color:lightgrey;
    }
    .imgprim{
      background-image: url(../assets/img4/banner.jpg);
      background-size: 95%;
      height: 500px;
      }
    .modifiche{
      color: white;
      padding-top: 260px;
    }
    .row{
      padding: 0 -15px;
    }
    [class^="col-"]{
      float: left;
      padding: 0px 15px;
      }
     .row:after{
      content: "";
      clear: both;
      display: table;
      }
      #img{
        height: 500px;
      }
      .col-100{
        width: 100%;
        }
        .col-50{
          /* margin-top: 55px; */
          width: 30%;
          /* height: 300px; */
          }
        .col-25{
          /* margin-top: 55px;
           border: 10px solid #0086FF;
          border-right: 0px;
          border-left: 0px;*/
          width: 15%;

         }
         #img2{
           height: 200px;
         }
/*


[class^="col-"]{
  float: left;
  padding: 10px 0px;
  }

.bg-pink{
  height: 80px;
  background-color: #E579E5;

 }
.bg-green{
  height: 250px;
  background-color: #E1D57A;
 }
.bg-blue{
  height: 400px;
  background-color: #ABCFE6;
 }


.bg-purple{
  height: 30px;
  background-color: #8702FE;
  margin-top: -15px;
  } */
