*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  }

  body{
  width: 100%;
  }

  .logo{
   background-size: 30%;

  }

 .container{
  width: 80%;
  margin: 0 auto;
  }

  nav, #spaziatura{
    color:lightgrey;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .imgprim{
    background-image: url(../assets/img4/banner.jpg);
    background-size: 85%;
    height: 500px;
    border-radius: 10px;
  }

  .modifiche{
   color: white;
   padding-top: 320px;
  }

  .row{
    padding: 0 -15px;
  }

  [class^="col-"]{
    float: left;
    padding: 0px 15px;
  }

 .row:after{
   content: "";
   clear: both;
   display: table;
  }

  .col-100{
    width: 100%;
    }

  .col-50{
   width: 50%;
  }

  .col-25{
   width: 25%;
  }

 .immagine{
  width: 100%;
  /* background-image: lightgrey;   */
 }

 .sfondoimg{
  background-image: url(../assets/img4/img-1.jpg);
  /*--- background-color: grey;  Ho provato a dargli lo sfondo per l'immagine ma non c'è l'ho fatta ---*/
  height: 250px;
  margin-bottom: 10px;
  }

  #img2{
   height: 250px;
   margin-top: 5px;
  }

  #img3{
   height: 250px;
   margin-top: 100px;
   }

   p{
     color: lightgrey;
   }

  #cuore{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  #cuore:after{
   content:'\2665';
   color: red;
 }
