*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  }
 body{
   height: 100%;
   width: 100%;
 }

  #dim-img{
    width: 150px;
    padding-right: 20px;
    border-right: 1px solid #e5e5e5;
  }

 .container{
  width: 80%;
  margin: 0 auto;
 }

 nav ul li{
   display: inline;
   padding-right: 10px;
   /* text-transform: uppercase; */
 }

  #spaziatura ul li a{
    text-decoration: none;
    color: #858585;
    /* list-style: none; */
 }

  nav, #spaziatura{
    margin-top: 30px;
    margin-bottom: 30px;

  }

  .imgprim{
    background-image: url(../assets/img4/banner.jpg);
    background-size: cover;
    height: 411px;
    border-radius: 10px;

  }
  #opaco .imgprim .modifiche{
    height: 411px;
    /* width: 100%; */
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding-left: 40px;
    color: white;
    position: absolute;
    bottom: 0px;
    left: 0px;
  }

  .modifiche{
      padding-top: 270px;
  }
  /*.modifiche{

   */

   /* padding-top: 320px; */
   /* height: 100%;
   width: 100%;
  }*/

  .row{
    padding: 0 -15px;
    position: relative;
  }

  [class^="col-"]{
    float: left;
    /* padding: 0px 15px; */
  }

 .row:after{
   content: "";
   clear: both;
   display: table;
  }

  .col-100{
    width: 100%;
    }

   .col-25{
     width: 23%;
   }
   .img-height{
     height: 250px;
   }
   .donna{
     background-image: url(../assets/img4/img-1.jpg);

   }
 .frist{
   padding:0px 5px;

  }

  .opacity{
    height: 250px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }
  .uomo{
    background-image: url(../assets/img4/banner-2.jpg);
    background-size: 100%;
  }

  .col-50{
   width: 48%;
   /* height: 250px; */
   padding:0px 5px;
  }
   .lampadina{
     background-image: url(../assets/img4/img-3.jpg);

   }
 .second{
   /* background-size: 100%; */
   /* width: 25%; */
   /* height: 250px; */
   padding:0px 5px;
 }

   h3{
     padding:10px 0;
   }

  p{
     color: lightgrey;
   }

   footer{
    position: relative;
   }
#cuore > p{
  position: absolute;
  /* bottom: 0; */
  right: 575px;
}

  #cuore > p{
    text-align: center;
    margin-top: 20px;
    /* margin-bottom: 10px; */
    color: black;
  }
  #cuore > p:after{
   content:'\2665';
   color: red;
 }
